@import "tailwindcss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Segoe UI', Arial, sans-serif;
	min-height: 100vh;
	background: linear-gradient(120deg, #333 0%, #1f1f1f 100%);
	color: #f3f3f3;
}